@import "http://fonts.googleapis.com/css?family=Open+Sans:400,800,700";

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section {
  display: block; }

audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1; }

audio:not([controls]) {
  display: none; }

html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

a:focus {
  outline: thin dotted #333;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px; }

a:hover,
a:active {
  outline: 0; }

sub,
sup {
  position: relative;
  font-size: 75%;
  line-height: 0;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

img {
  max-width: 100%;
  height: auto;
  border: 0;
  -ms-interpolation-mode: bicubic; }

button,
input,
select,
textarea {
  margin: 0;
  font-size: 100%;
  vertical-align: middle; }

button,
input {
  *overflow: visible;
  line-height: normal; }

button::-moz-focus-inner,
input::-moz-focus-inner {
  padding: 0;
  border: 0; }

button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button; }

input[type="search"] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box; }

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none; }

textarea {
  overflow: auto;
  vertical-align: top; }

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.clearfix {
  *zoom: 1; }
  .clearfix:before, .clearfix:after {
    display: table;
    content: ""; }
  .clearfix:after {
    clear: both; }

body {
  margin: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  color: #333333;
  background-color: white; }

a {
  color: #0088cc;
  text-decoration: none; }

a:hover {
  color: #005580;
  text-decoration: underline; }

p {
  margin: 0 0 9px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 13px;
  line-height: 18px; }
  p small {
    font-size: 11px;
    color: #999999; }

.lead {
  margin-bottom: 18px;
  font-size: 20px;
  font-weight: 200;
  line-height: 27px; }

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-weight: bold;
  color: #333333;
  text-rendering: optimizelegibility; }
  h1 small, h2 small, h3 small, h4 small, h5 small, h6 small {
    font-weight: normal;
    color: #999999; }

h1 {
  font-size: 30px;
  line-height: 36px; }
  h1 small {
    font-size: 18px; }

h2 {
  font-size: 24px;
  line-height: 36px; }
  h2 small {
    font-size: 18px; }

h3 {
  line-height: 27px;
  font-size: 18px; }
  h3 small {
    font-size: 14px; }

h4, h5, h6 {
  line-height: 18px; }

h4 {
  font-size: 14px; }
  h4 small {
    font-size: 12px; }

h5 {
  font-size: 12px; }

h6 {
  font-size: 11px;
  color: #999999;
  text-transform: uppercase; }

.page-header {
  padding-bottom: 17px;
  margin: 18px 0;
  border-bottom: 1px solid #eeeeee; }

.page-header h1 {
  line-height: 1; }

ul, ol {
  padding: 0;
  margin: 0 0 9px 25px; }

ul ul,
ul ol,
ol ol,
ol ul {
  margin-bottom: 0; }

ul {
  list-style: disc; }

ol {
  list-style: decimal; }

/* interfere na barra brasil
li {
  line-height: 18px; } */

ul.unstyled,
ol.unstyled {
  margin-left: 0;
  list-style: none; }

dl {
  margin-bottom: 18px; }

dt,
dd {
  line-height: 18px; }

dt {
  font-weight: bold; }

dd {
  margin-left: 9px; }

hr {
  margin: 18px 0;
  border: 0;
  border-top: 1px solid #eeeeee;
  border-bottom: 1px solid white; }

strong {
  font-weight: bold; }

em {
  font-style: italic; }

.muted {
  color: #999999; }

abbr {
  font-size: 90%;
  text-transform: uppercase;
  border-bottom: 1px dotted #ddd;
  cursor: help; }

blockquote {
  padding: 0 0 0 15px;
  margin: 0 0 18px;
  border-left: 5px solid #eeeeee; }
  blockquote p {
    margin-bottom: 0;
    font-size: 16px;
    font-weight: 300;
    line-height: 22.5px; }
  blockquote small {
    display: block;
    line-height: 18px;
    color: #999999; }
    blockquote small:before {
      content: '\2014 \00A0'; }
  blockquote.pull-right {
    float: right;
    padding-left: 0;
    padding-right: 15px;
    border-left: 0;
    border-right: 5px solid #eeeeee; }
    blockquote.pull-right p,
    blockquote.pull-right small {
      text-align: right; }

q:before,
q:after,
blockquote:before,
blockquote:after {
  content: ""; }

address {
  display: block;
  margin-bottom: 18px;
  line-height: 18px;
  font-style: normal; }

small {
  font-size: 100%; }

cite {
  font-style: normal; }

form {
  margin: 0 0 18px; }

fieldset {
  padding: 0;
  margin: 0;
  border: 0; }

legend {
  display: block;
  width: 100%;
  padding: 0;
  margin-bottom: 27px;
  font-size: 19.5px;
  line-height: 36px;
  color: #333333;
  border: 0;
  border-bottom: 1px solid #eee; }
  legend small {
    font-size: 13.5px;
    color: #999999; }

label,
input,
button,
select,
textarea {
  font-size: 13px;
  font-weight: normal;
  line-height: 18px; }

input,
button,
select,
textarea {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; }

label {
  display: block;
  margin-bottom: 5px;
  color: #333333; }

input,
textarea,
select,
.uneditable-input {
  display: inline-block;
  width: 210px;
  height: 18px;
  padding: 4px;
  margin-bottom: 9px;
  font-size: 13px;
  line-height: 18px;
  color: #555555;
  border: 1px solid #ccc;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px; }

.uneditable-textarea {
  width: auto;
  height: auto; }

label input,
label textarea,
label select {
  display: block; }

input[type="image"],
input[type="checkbox"],
input[type="radio"] {
  width: auto;
  height: auto;
  padding: 0;
  margin: 3px 0;
  *margin-top: 0;
  /* IE7 */
  line-height: normal;
  cursor: pointer;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  border: 0 \9;
  /* IE9 and down */ }

input[type="image"] {
  border: 0; }

input[type="file"] {
  width: auto;
  padding: initial;
  line-height: initial;
  border: initial;
  background-color: white;
  background-color: initial;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none; }

input[type="button"],
input[type="reset"],
input[type="submit"] {
  width: auto;
  height: auto; }

select,
input[type="file"] {
  height: 28px;
  /* In IE7, the height of the select element cannot be changed by height, only font-size */
  *margin-top: 4px;
  /* For IE7, add top margin to align select with labels */
  line-height: 28px; }

input[type="file"] {
  line-height: 18px \9; }

select {
  width: 220px;
  background-color: white; }

select[multiple],
select[size] {
  height: auto; }

input[type="image"] {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none; }

textarea {
  height: auto; }

input[type="hidden"] {
  display: none; }

.radio,
.checkbox {
  padding-left: 18px; }

.radio input[type="radio"],
.checkbox input[type="checkbox"] {
  float: left;
  margin-left: -18px; }

.controls > .radio:first-child,
.controls > .checkbox:first-child {
  padding-top: 5px; }

.radio.inline,
.checkbox.inline {
  display: inline-block;
  padding-top: 5px;
  margin-bottom: 0;
  vertical-align: middle; }

.radio.inline + .radio.inline,
.checkbox.inline + .checkbox.inline {
  margin-left: 10px; }

input,
textarea {
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
  -moz-transition: border linear 0.2s, box-shadow linear 0.2s;
  -ms-transition: border linear 0.2s, box-shadow linear 0.2s;
  -o-transition: border linear 0.2s, box-shadow linear 0.2s;
  transition: border linear 0.2s, box-shadow linear 0.2s; }

input:focus,
textarea:focus {
  border-color: rgba(82, 168, 236, 0.8);
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
  outline: 0;
  outline: thin dotted \9;
  /* IE6-9 */ }

input[type="file"]:focus,
input[type="radio"]:focus,
input[type="checkbox"]:focus,
select:focus {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  outline: thin dotted #333;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px; }

.input-mini {
  width: 60px; }

.input-small {
  width: 90px; }

.input-medium {
  width: 150px; }

.input-large {
  width: 210px; }

.input-xlarge {
  width: 270px; }

.input-xxlarge {
  width: 530px; }

input[class*="span"],
select[class*="span"],
textarea[class*="span"],
.uneditable-input {
  float: none;
  margin-left: 0; }

input.span1,
textarea.span1,
.uneditable-input.span1 {
  width: 50px; }
input.span2,
textarea.span2,
.uneditable-input.span2 {
  width: 130px; }
input.span3,
textarea.span3,
.uneditable-input.span3 {
  width: 210px; }
input.span4,
textarea.span4,
.uneditable-input.span4 {
  width: 290px; }
input.span5,
textarea.span5,
.uneditable-input.span5 {
  width: 370px; }
input.span6,
textarea.span6,
.uneditable-input.span6 {
  width: 450px; }
input.span7,
textarea.span7,
.uneditable-input.span7 {
  width: 530px; }
input.span8,
textarea.span8,
.uneditable-input.span8 {
  width: 610px; }
input.span9,
textarea.span9,
.uneditable-input.span9 {
  width: 690px; }
input.span10,
textarea.span10,
.uneditable-input.span10 {
  width: 770px; }
input.span11,
textarea.span11,
.uneditable-input.span11 {
  width: 850px; }
input.span12,
textarea.span12,
.uneditable-input.span12 {
  width: 930px; }

input[disabled],
select[disabled],
textarea[disabled],
input[readonly],
select[readonly],
textarea[readonly] {
  background-color: #f5f5f5;
  border-color: #ddd;
  cursor: not-allowed; }

.control-group.warning > label,
.control-group.warning .help-block,
.control-group.warning .help-inline {
  color: #c09853; }
.control-group.warning input,
.control-group.warning select,
.control-group.warning textarea {
  color: #c09853;
  border-color: #c09853; }
  .control-group.warning input:focus,
  .control-group.warning select:focus,
  .control-group.warning textarea:focus {
    border-color: #a47e3c;
    -webkit-box-shadow: 0 0 6px #dbc59e;
    -moz-box-shadow: 0 0 6px #dbc59e;
    box-shadow: 0 0 6px #dbc59e; }
.control-group.warning .input-prepend .add-on,
.control-group.warning .input-append .add-on {
  color: #c09853;
  background-color: #fcf8e3;
  border-color: #c09853; }

.control-group.error > label, .control-group.error .help-block, .control-group.error .help-inline {
  color: #b94a48; }
.control-group.error input, .control-group.error select, .control-group.error textarea {
  color: #b94a48;
  border-color: #b94a48; }
  .control-group.error input:focus, .control-group.error select:focus, .control-group.error textarea:focus {
    border-color: #953b39;
    -webkit-box-shadow: 0 0 6px #d59392;
    -moz-box-shadow: 0 0 6px #d59392;
    box-shadow: 0 0 6px #d59392; }
.control-group.error .input-prepend .add-on, .control-group.error .input-append .add-on {
  color: #b94a48;
  background-color: #f2dede;
  border-color: #b94a48; }

.control-group.success > label, .control-group.success .help-block, .control-group.success .help-inline {
  color: #468847; }
.control-group.success input, .control-group.success select, .control-group.success textarea {
  color: #468847;
  border-color: #468847; }
  .control-group.success input:focus, .control-group.success select:focus, .control-group.success textarea:focus {
    border-color: #356635;
    -webkit-box-shadow: 0 0 6px #7aba7b;
    -moz-box-shadow: 0 0 6px #7aba7b;
    box-shadow: 0 0 6px #7aba7b; }
.control-group.success .input-prepend .add-on, .control-group.success .input-append .add-on {
  color: #468847;
  background-color: #dff0d8;
  border-color: #468847; }

input:focus:required:invalid,
textarea:focus:required:invalid,
select:focus:required:invalid {
  color: #b94a48;
  border-color: #ee5f5b; }
  input:focus:required:invalid:focus,
  textarea:focus:required:invalid:focus,
  select:focus:required:invalid:focus {
    border-color: #e9322d;
    -webkit-box-shadow: 0 0 6px #f8b9b7;
    -moz-box-shadow: 0 0 6px #f8b9b7;
    box-shadow: 0 0 6px #f8b9b7; }

.form-actions {
  padding: 17px 20px 18px;
  margin-top: 18px;
  margin-bottom: 18px;
  background-color: #f5f5f5;
  border-top: 1px solid #ddd; }

.uneditable-input {
  display: block;
  background-color: white;
  border-color: #eee;
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.025);
  -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.025);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.025);
  cursor: not-allowed; }

:-moz-placeholder {
  color: #999999; }

::-webkit-input-placeholder {
  color: #999999; }

.help-block {
  display: block;
  margin-top: 5px;
  margin-bottom: 0;
  color: #999999; }

.help-inline {
  display: inline-block;
  *display: inline;
  /* IE7 inline-block hack */
  *zoom: 1;
  margin-bottom: 9px;
  vertical-align: middle;
  padding-left: 5px; }

.input-prepend,
.input-append {
  margin-bottom: 5px;
  *zoom: 1; }
  .input-prepend:before, .input-prepend:after,
  .input-append:before,
  .input-append:after {
    display: table;
    content: ""; }
  .input-prepend:after,
  .input-append:after {
    clear: both; }
  .input-prepend input,
  .input-prepend .uneditable-input,
  .input-append input,
  .input-append .uneditable-input {
    -webkit-border-radius: 0 3px 3px 0;
    -moz-border-radius: 0 3px 3px 0;
    border-radius: 0 3px 3px 0; }
    .input-prepend input:focus,
    .input-prepend .uneditable-input:focus,
    .input-append input:focus,
    .input-append .uneditable-input:focus {
      position: relative;
      z-index: 2; }
  .input-prepend .uneditable-input,
  .input-append .uneditable-input {
    border-left-color: #ccc; }
  .input-prepend .add-on,
  .input-append .add-on {
    float: left;
    display: block;
    width: auto;
    min-width: 16px;
    height: 18px;
    margin-right: -1px;
    padding: 4px 5px;
    font-weight: normal;
    line-height: 18px;
    color: #999999;
    text-align: center;
    text-shadow: 0 1px 0 white;
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    -webkit-border-radius: 3px 0 0 3px;
    -moz-border-radius: 3px 0 0 3px;
    border-radius: 3px 0 0 3px; }
  .input-prepend .active,
  .input-append .active {
    background-color: #a9dba9;
    border-color: #46a546; }

.input-prepend .add-on {
  *margin-top: 1px;
  /* IE6-7 */ }

.input-append input,
.input-append .uneditable-input {
  float: left;
  -webkit-border-radius: 3px 0 0 3px;
  -moz-border-radius: 3px 0 0 3px;
  border-radius: 3px 0 0 3px; }
.input-append .uneditable-input {
  border-left-color: #eee;
  border-right-color: #ccc; }
.input-append .add-on {
  margin-right: 0;
  margin-left: -1px;
  -webkit-border-radius: 0 3px 3px 0;
  -moz-border-radius: 0 3px 3px 0;
  border-radius: 0 3px 3px 0; }
.input-append input:first-child {
  *margin-left: -160px; }
  .input-append input:first-child + .add-on {
    *margin-left: -21px; }

#field-sitewide-search {
  width: 230px;
}

.search-query {
  padding-left: 14px;
  padding-right: 14px;
  margin-bottom: 0;
  -webkit-border-radius: 14px;
  -moz-border-radius: 14px;
  border-radius: 14px; }

.form-search input,
.form-search textarea,
.form-search select,
.form-search .help-inline,
.form-search .uneditable-input,
.form-inline input,
.form-inline textarea,
.form-inline select,
.form-inline .help-inline,
.form-inline .uneditable-input,
.form-horizontal input,
.form-horizontal textarea,
.form-horizontal select,
.form-horizontal .help-inline,
.form-horizontal .uneditable-input {
  display: inline-block;
  margin-bottom: 0; }
.form-search .hide,
.form-inline .hide,
.form-horizontal .hide {
  display: none; }

.form-search label,
.form-inline label,
.form-search .input-append,
.form-inline .input-append,
.form-search .input-prepend,
.form-inline .input-prepend {
  display: inline-block; }

.form-search .input-append .add-on,
.form-inline .input-prepend .add-on,
.form-search .input-append .add-on,
.form-inline .input-prepend .add-on {
  vertical-align: middle; }

.form-search .radio,
.form-inline .radio,
.form-search .checkbox,
.form-inline .checkbox {
  margin-bottom: 0;
  vertical-align: middle; }

.control-group {
  margin-bottom: 9px; }

legend + .control-group {
  margin-top: 18px;
  -webkit-margin-top-collapse: separate; }

.form-horizontal .control-group {
  margin-bottom: 18px;
  *zoom: 1; }
  .form-horizontal .control-group:before, .form-horizontal .control-group:after {
    display: table;
    content: ""; }
  .form-horizontal .control-group:after {
    clear: both; }
.form-horizontal .control-label {
  float: left;
  width: 140px;
  padding-top: 5px;
  text-align: right; }
.form-horizontal .controls {
  margin-left: 160px; }
.form-horizontal .form-actions {
  padding-left: 160px; }

.dropdown {
  position: relative; }

.dropdown-toggle {
  *margin-bottom: -3px; }

.dropdown-toggle:active,
.open .dropdown-toggle {
  outline: 0; }

.caret {
  display: inline-block;
  width: 0;
  height: 0;
  text-indent: -99999px;
  *text-indent: 0;
  vertical-align: top;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 4px solid black;
  opacity: 0.3;
  filter: alpha(opacity=30);
  content: "\2193"; }

.dropdown .caret {
  margin-top: 8px;
  margin-left: 2px; }

.dropdown:hover .caret,
.open.dropdown .caret {
  opacity: 1;
  filter: alpha(opacity=100); }

.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  float: left;
  display: none;
  _width: 160px;
  padding: 4px 0;
  margin: 0;
  list-style: none;
  background-color: white;
  border-color: #ccc;
  border-color: rgba(0, 0, 0, 0.2);
  border-style: solid;
  border-width: 1px;
  -webkit-border-radius: 0 0 5px 5px;
  -moz-border-radius: 0 0 5px 5px;
  border-radius: 0 0 5px 5px;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  *border-right-width: 2px;
  *border-bottom-width: 2px; }
  .dropdown-menu.bottom-up {
    top: auto;
    bottom: 100%;
    margin-bottom: 2px; }
  .dropdown-menu .divider {
    height: 1px;
    margin: 5px 1px;
    overflow: hidden;
    background-color: #e5e5e5;
    border-bottom: 1px solid white;
    *width: 100%;
    *margin: -5px 0 5px; }
  .dropdown-menu a {
    display: block;
    padding: 3px 15px;
    clear: both;
    font-weight: normal;
    line-height: 18px;
    color: #555555;
    white-space: nowrap; }

.dropdown-menu li > a:hover,
.dropdown-menu .active > a,
.dropdown-menu .active > a:hover {
  color: white;
  text-decoration: none;
  background-color: #0088cc; }

.dropdown.open {
  *z-index: 1000; }
  .dropdown.open .dropdown-toggle {
    color: white;
    background: #ccc;
    background: rgba(0, 0, 0, 0.3); }
  .dropdown.open .dropdown-menu {
    display: block; }

.typeahead {
  margin-top: 2px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px; }

.carousel {
  position: relative;
  margin-bottom: 18px;
  line-height: 1; }

.carousel-inner {
  overflow: hidden;
  width: 100%;
  position: relative; }

.carousel .item {
  display: none;
  position: relative;
  -webkit-transition: 0.6s ease-in-out left;
  -moz-transition: 0.6s ease-in-out left;
  -ms-transition: 0.6s ease-in-out left;
  -o-transition: 0.6s ease-in-out left;
  transition: 0.6s ease-in-out left; }
.carousel .item > img {
  display: block;
  line-height: 1; }
.carousel .active,
.carousel .next,
.carousel .prev {
  display: block; }
.carousel .active {
  left: 0; }
.carousel .next,
.carousel .prev {
  position: absolute;
  top: 0;
  width: 100%; }
.carousel .next {
  left: 100%; }
.carousel .prev {
  left: -100%; }
.carousel .next.left,
.carousel .prev.right {
  left: 0; }
.carousel .active.left {
  left: -100%; }
.carousel .active.right {
  left: 100%; }

.carousel-control {
  position: absolute;
  top: 40%;
  left: 15px;
  width: 40px;
  height: 40px;
  margin-top: -20px;
  font-size: 60px;
  font-weight: 100;
  line-height: 30px;
  color: white;
  text-align: center;
  background: #222222;
  border: 3px solid white;
  -webkit-border-radius: 23px;
  -moz-border-radius: 23px;
  border-radius: 23px;
  opacity: 0.5;
  filter: alpha(opacity=50); }
  .carousel-control.right {
    left: auto;
    right: 15px; }
  .carousel-control:hover {
    color: white;
    text-decoration: none;
    opacity: 0.9;
    filter: alpha(opacity=90); }

.carousel-caption {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 10px 15px 5px;
  background: #333333;
  background: rgba(0, 0, 0, 0.75); }

.carousel-caption h4,
.carousel-caption p {
  color: white; }

.nav {
  margin-left: 0;
  margin-bottom: 18px;
  list-style: none; }

.nav > li > a {
  display: block; }

.nav > li > a:hover {
  text-decoration: none;
  background-color: #eeeeee; }

.nav .nav-header {
  display: block;
  padding: 3px 15px;
  font-size: 11px;
  font-weight: bold;
  line-height: 18px;
  color: #999999;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  text-transform: uppercase; }

.nav li + .nav-header {
  margin-top: 9px; }

.nav-list {
  padding-left: 14px;
  padding-right: 14px;
  margin-bottom: 0; }

.nav-list > li > a,
.nav-list .nav-header {
  margin-left: -15px;
  margin-right: -15px;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5); }

.nav-list > li > a {
  padding: 3px 15px; }

.nav-list .active > a,
.nav-list .active > a:hover {
  color: white;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2);
  background-color: #0088cc; }

.nav-list [class^="icon-"] {
  margin-right: 2px; }

.nav-tabs,
.nav-pills {
  *zoom: 1; }
  .nav-tabs:before, .nav-tabs:after,
  .nav-pills:before,
  .nav-pills:after {
    display: table;
    content: ""; }
  .nav-tabs:after,
  .nav-pills:after {
    clear: both; }

.nav-tabs > li,
.nav-pills > li {
  float: left; }

.nav-tabs > li > a,
.nav-pills > li > a {
  padding-right: 12px;
  padding-left: 12px;
  margin-right: 2px;
  line-height: 14px; }

.nav-tabs {
  border-bottom: 1px solid #ddd; }

.nav-tabs > li {
  margin-bottom: -1px; }

.nav-tabs > li > a {
  padding-top: 9px;
  padding-bottom: 9px;
  border: 1px solid transparent;
  -webkit-border-radius: 4px 4px 0 0;
  -moz-border-radius: 4px 4px 0 0;
  border-radius: 4px 4px 0 0; }
  .nav-tabs > li > a:hover {
    border-color: #eeeeee #eeeeee #dddddd; }

.nav-tabs > .active > a,
.nav-tabs > .active > a:hover {
  color: #555555;
  background-color: white;
  border: 1px solid #ddd;
  border-bottom-color: transparent;
  cursor: default; }

.nav-pills > li > a {
  padding-top: 8px;
  padding-bottom: 8px;
  margin-top: 2px;
  margin-bottom: 2px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px; }

.nav-pills .active > a,
.nav-pills .active > a:hover {
  color: white;
  background-color: #0088cc; }

.nav-stacked > li {
  float: none; }

.nav-stacked > li > a {
  margin-right: 0; }

.nav-tabs.nav-stacked {
  border-bottom: 0; }

.nav-tabs.nav-stacked > li > a {
  border: 1px solid #ddd;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0; }

.nav-tabs.nav-stacked > li:first-child > a {
  -webkit-border-radius: 4px 4px 0 0;
  -moz-border-radius: 4px 4px 0 0;
  border-radius: 4px 4px 0 0; }

.nav-tabs.nav-stacked > li:last-child > a {
  -webkit-border-radius: 0 0 4px 4px;
  -moz-border-radius: 0 0 4px 4px;
  border-radius: 0 0 4px 4px; }

.nav-tabs.nav-stacked > li > a:hover {
  border-color: #ddd;
  z-index: 2; }

.nav-pills.nav-stacked > li > a {
  margin-bottom: 3px; }

.nav-pills.nav-stacked > li:last-child > a {
  margin-bottom: 1px; }

.nav-tabs .dropdown-menu,
.nav-pills .dropdown-menu {
  margin-top: 1px;
  border-width: 1px; }

.nav-pills .dropdown-menu {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px; }

.nav-tabs .dropdown-toggle .caret,
.nav-pills .dropdown-toggle .caret {
  border-top-color: #0088cc;
  margin-top: 6px; }

.nav-tabs .dropdown-toggle:hover .caret,
.nav-pills .dropdown-toggle:hover .caret {
  border-top-color: #005580; }

.nav-tabs .active .dropdown-toggle .caret,
.nav-pills .active .dropdown-toggle .caret {
  border-top-color: #333333; }

.nav > .dropdown.active > a:hover {
  color: black;
  cursor: pointer; }

.nav-tabs .open .dropdown-toggle,
.nav-pills .open .dropdown-toggle,
.nav > .open.active > a:hover {
  color: white;
  background-color: #999999;
  border-color: #999999; }

.nav .open .caret,
.nav .open.active .caret,
.nav .open a:hover .caret {
  border-top-color: white;
  opacity: 1;
  filter: alpha(opacity=100); }

.tabs-stacked .open > a:hover {
  border-color: #999999; }

.tabbable {
  *zoom: 1; }
  .tabbable:before, .tabbable:after {
    display: table;
    content: ""; }
  .tabbable:after {
    clear: both; }

.tab-content {
  overflow: hidden; }

.tabs-below .nav-tabs,
.tabs-right .nav-tabs,
.tabs-left .nav-tabs {
  border-bottom: 0; }

.tab-content > .tab-pane,
.pill-content > .pill-pane {
  display: none; }

.tab-content > .active,
.pill-content > .active {
  display: block; }

.tabs-below .nav-tabs {
  border-top: 1px solid #ddd; }

.tabs-below .nav-tabs > li {
  margin-top: -1px;
  margin-bottom: 0; }

.tabs-below .nav-tabs > li > a {
  -webkit-border-radius: 0 0 4px 4px;
  -moz-border-radius: 0 0 4px 4px;
  border-radius: 0 0 4px 4px; }
  .tabs-below .nav-tabs > li > a:hover {
    border-bottom-color: transparent;
    border-top-color: #ddd; }

.tabs-below .nav-tabs .active > a,
.tabs-below .nav-tabs .active > a:hover {
  border-color: transparent #ddd #ddd #ddd; }

.tabs-left .nav-tabs > li,
.tabs-right .nav-tabs > li {
  float: none; }

.tabs-left .nav-tabs > li > a,
.tabs-right .nav-tabs > li > a {
  min-width: 74px;
  margin-right: 0;
  margin-bottom: 3px; }

.tabs-left .nav-tabs {
  float: left;
  margin-right: 19px;
  border-right: 1px solid #ddd; }

.tabs-left .nav-tabs > li > a {
  margin-right: -1px;
  -webkit-border-radius: 4px 0 0 4px;
  -moz-border-radius: 4px 0 0 4px;
  border-radius: 4px 0 0 4px; }

.tabs-left .nav-tabs > li > a:hover {
  border-color: #eeeeee #dddddd #eeeeee #eeeeee; }

.tabs-left .nav-tabs .active > a,
.tabs-left .nav-tabs .active > a:hover {
  border-color: #ddd transparent #ddd #ddd;
  *border-right-color: white; }

.tabs-right .nav-tabs {
  float: right;
  margin-left: 19px;
  border-left: 1px solid #ddd; }

.tabs-right .nav-tabs > li > a {
  margin-left: -1px;
  -webkit-border-radius: 0 4px 4px 0;
  -moz-border-radius: 0 4px 4px 0;
  border-radius: 0 4px 4px 0; }

.tabs-right .nav-tabs > li > a:hover {
  border-color: #eeeeee #eeeeee #eeeeee #dddddd; }

.tabs-right .nav-tabs .active > a,
.tabs-right .nav-tabs .active > a:hover {
  border-color: #ddd #ddd #ddd transparent;
  *border-left-color: white; }

table {
  max-width: 100%;
  border-collapse: collapse;
  border-spacing: 0; }

.table {
  width: 100%;
  margin-bottom: 18px; }
  .table th,
  .table td {
    padding: 8px;
    line-height: 18px;
    text-align: left;
    vertical-align: top;
    border-top: 1px solid #ddd; }
  .table th {
    font-weight: bold; }
  .table thead th {
    vertical-align: bottom; }
  .table thead:first-child tr th,
  .table thead:first-child tr td {
    border-top: 0; }
  .table tbody + tbody {
    border-top: 2px solid #ddd; }

.table-condensed th,
.table-condensed td {
  padding: 4px 5px; }

.table-bordered {
  border: 1px solid #ddd;
  border-collapse: separate;
  *border-collapse: collapsed;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px; }
  .table-bordered th + th,
  .table-bordered td + td,
  .table-bordered th + td,
  .table-bordered td + th {
    border-left: 1px solid #ddd; }
  .table-bordered thead:first-child tr:first-child th,
  .table-bordered tbody:first-child tr:first-child th,
  .table-bordered tbody:first-child tr:first-child td {
    border-top: 0; }
  .table-bordered thead:first-child tr:first-child th:first-child,
  .table-bordered tbody:first-child tr:first-child td:first-child {
    -webkit-border-radius: 4px 0 0 0;
    -moz-border-radius: 4px 0 0 0;
    border-radius: 4px 0 0 0; }
  .table-bordered thead:first-child tr:first-child th:last-child,
  .table-bordered tbody:first-child tr:first-child td:last-child {
    -webkit-border-radius: 0 4px 0 0;
    -moz-border-radius: 0 4px 0 0;
    border-radius: 0 4px 0 0; }
  .table-bordered thead:last-child tr:last-child th:first-child,
  .table-bordered tbody:last-child tr:last-child td:first-child {
    -webkit-border-radius: 0 0 0 4px;
    -moz-border-radius: 0 0 0 4px;
    border-radius: 0 0 0 4px; }
  .table-bordered thead:last-child tr:last-child th:last-child,
  .table-bordered tbody:last-child tr:last-child td:last-child {
    -webkit-border-radius: 0 0 4px 0;
    -moz-border-radius: 0 0 4px 0;
    border-radius: 0 0 4px 0; }

.table-striped tbody tr:nth-child(odd) td,
.table-striped tbody tr:nth-child(odd) th {
  background-color: #f9f9f9; }

.table tbody tr:hover td,
.table tbody tr:hover th {
  background-color: #f5f5f5; }

table .span1 {
  float: none;
  width: 44px;
  margin-left: 0; }
table .span2 {
  float: none;
  width: 124px;
  margin-left: 0; }
table .span3 {
  float: none;
  width: 204px;
  margin-left: 0; }
table .span4 {
  float: none;
  width: 284px;
  margin-left: 0; }
table .span5 {
  float: none;
  width: 364px;
  margin-left: 0; }
table .span6 {
  float: none;
  width: 444px;
  margin-left: 0; }
table .span7 {
  float: none;
  width: 524px;
  margin-left: 0; }
table .span8 {
  float: none;
  width: 604px;
  margin-left: 0; }
table .span9 {
  float: none;
  width: 684px;
  margin-left: 0; }
table .span10 {
  float: none;
  width: 764px;
  margin-left: 0; }
table .span11 {
  float: none;
  width: 844px;
  margin-left: 0; }
table .span12 {
  float: none;
  width: 924px;
  margin-left: 0; }

body {
  font-family: 'Droid Sans', 'Helvetica', 'Arial', sans-serif; }
  body p {
    font-family: 'Droid Sans', 'Helvetica', 'Arial', sans-serif; }
  body ul {
    margin-left: 0px;
    margin-top: 0px; }

#brasil:after {
  background-color: #006B0A;
  border-bottom-color: #FFB400;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  content: " ";
  display: block;
  height: 1px;
  text-align: center;
  width: 980px; }

#featureddata li.dataset-item {
 padding-bottom: 0;
 margin-bottom: 0;
 margin: 10px 0;
}

#featureddata h3.dataset-heading {
 margin-bottom: 0;
}

#brasil {
  position: absolute;
  height: 28px;
  /*background: #F1D800;*/
  width: 100%;
  text-align: center;
  background-color: #7F7F7F; }
  #brasil span {
    background-image: url("../img/bg/barra-brasil-v3-cinza.gif");
    width: 980px;
    background-position: right bottom;
    height: 30px;
    background-color: transparent;
    display: block;
    background-repeat: no-repeat;
    margin: 0 auto;
    margin: -2px auto; }

#main {
  width: 980px; /* luiz> width: 980px;*/ }
  #main #minornavigation {
    border: 0px; }
  #main #content {
    margin-left: 1em; }
  #main .page_heading {
    margin-left: 1em; }
  #main a:visited {
    color: #607890; }

body {
  *zoom: 1;
  margin: 0 auto;
  /* (interfere na barra brasil)
  width: 980px;
  max-width: 980px;*/
  background: white; }
  body:first-child:before, body:last-child:after {
    display: table;
    content: ""; }
  body:last-child:after {
    clear: both; }
  body > header.masthead {
	padding: 15px 0 0 0;
	background-color: #19882c;
 /* Old browsers */
	background-color: #0A5517;
	background-image: -moz-radial-gradient(center, ellipse cover,  #19882c 1%, #025310 100%);
 /* FF3.6+ */
	background-image: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(1%,#19882c), color-stop(100%,#025310));
 /* Chrome,Safari4+ */
	background-image: -webkit-radial-gradient(center, ellipse cover,  #19882c 1%,#025310 100%);
 /* Chrome10+,Safari5.1+ */
	background-image: -o-radial-gradient(center, ellipse cover,  #19882c 1%,#025310 100%);
 /* Opera 12+ */
	background-image: -ms-radial-gradient(center, ellipse cover,  #19882c 1%,#025310 100%);
 /* IE10+ */
	background-image: radial-gradient(ellipse at center,  #19882c 1%,#025310 100%);
 /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#19882c', endColorstr='#025310',GradientType=1 );
 /* IE6-9 fallback on horizontal gradient */

	color: #fff;
    /*luiz>*/
}
    body > header.masthead > .container {
      max-width: 980px;
}
    body > header.masthead #zoom {
      float: left;
      margin-left: 20px;
      width: 60px;
      margin-right: 20px;
      margin-top: 10px;
      float: right;
      text-align: center;
      padding: 2px 5px;
      visibility: hidden;
      -moz-border-radius: 5px;
      border-radius: 5px;
      background: rgba(0, 0, 0, 0.2);
    }

    body > header.masthead #zoom a {
        text-decoration: none;
        color: #FFFFFF; /*luiz> */
        margin-left: 10px;
    }
    body > header.masthead #zoom a:first-child {
          margin-left: 0px;
    }


/* Logo */

    body > header.masthead #site_logo {
      float: left;
      margin: 8px 0 0;
      width: 220px;
      width: 430px;
      /*background-image: url("../img/logo.png"); luiz>*/
      background-repeat: no-repeat;
      overflow: hidden;
      display: block;
      clear: left;
    }

    body > header.masthead #site_logo a {
        display: block;
        height: 85px; /* luiz> */
        /*padding-top: 162px; luiz>*/
    }

    #site_logo {
        margin-top:0px;
    }
    
    #site_logo h2 {
        line-height: 2.5;
    }
    
    #site_logo a,
    #site_logo a:visited,
    #site_logo a:hover
    {
        color: #FFFFFF;
        display: block;
        text-decoration:none;
        font: 100% Arial,FreeSans,sans-serif;
        font-family: 'Open Sans',Arial,Helvetica,sans-serif;
    }

    #site_logo span {
        display: block;
    }

    #portal-title {
        font-weight: 800;
        letter-spacing: -0.05em;
        margin: 0;
        margin-left: -2px;
        height: 64px;
    }

    #portal-description {
        font-size: 14px;
        color: #fff;
        text-transform: uppercase;
        font-family: 'Open Sans',Arial,Helvetica,sans-serif;
    }

    #portal-type {
        font-size: 0.42em;
        height: 1px;
    }
    

/* Fim logo  */

body > header.masthead #news {
      clear: both;
      float: left;
      margin-left: 20px;
      width: 100px; /*saint */
      float: right;
      height: 35px;
      margin-top: -32px;
      }
      body > header.masthead #news li {
        display: block;
        float: left;
        margin-right: 10px; /*luiz> margin-right: 15px;*/
        height: 20px; /*luiz>  height: 36px;*/
        overflow: hidden;
    }
        body > header.masthead #news li a {
          height: 36px;
          width: 20px; /*saint> */
          overflow: hidden;
          background-position: 0 0;
          background-image: url("../img/bg/bts_redes_brancos.png"); /* luiz> background-image: url("../img/bg/bts_redes.png");*/
          display: block;
          padding-top: 35px;
       }
      body > header.masthead #news #twitter a {
        background-position: -20px 0; /*saint> */}
      body > header.masthead #news #github a {
        background-position: -40px 0; /*saint> */
      }
    body > header.masthead nav {
      clear: both;
      height:27px;

}
      body > header.masthead nav a {
        font-size: 1em; /*luiz> 1em;*/
      }
      body > header.masthead nav ul.nav {
        float: left;
        margin-left: 20px;
        width: 700px;
        list-style: none;
        margin-top: -1em; }
        body > header.masthead nav ul.nav > li {
          margin-top: 1em;
          margin-right: 20px;
          float: left;
          *zoom: 1; }
          body > header.masthead nav ul.nav > li:before, body > header.masthead nav ul.nav > li:after {
            display: table;
            content: ""; }
          body > header.masthead nav ul.nav > li:after {
            clear: both; }
          body > header.masthead nav ul.nav > li > a {
            color: #ffffff;
            padding: 7px 15px;
            background: #497aa9;
            background: -moz-linear-gradient(top, #548cc0 0%, #3e6992);
            background: -webkit-gradient(linear, left top, left bottom, from(#548cc0), to(#3e6992));
            /* Chrome,Safari4+ */
            background: -webkit-linear-gradient(left, #548cc0 0%, #3e6992 100%);
            /* Chrome10+,Safari5.1+ */
            background: -o-linear-gradient(left, #548cc0 0%, #3e6992 100%);
            /* Opera 11.10+ */
            background: -ms-linear-gradient(left, #548cc0 0%, #3e6992 100%);
            /* IE10+ */
            background: linear-gradient(left, #548cc0 0%, #3e6992 100%);
            /* W3C */
            filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#548cc0', EndColorStr='#3e6992')";
            /* IE6,IE7 */
            -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#548cc0', EndColorStr='#3e6992')";
            /* IE8 */
            border-radius: 5px;
            -moz-border-radius: 5px;
            -webkit-border-radius: 5px;
            border: 1px solid #3e6992;
            -moz-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.5), inset 0px 0px 1px white;
            -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.5), inset 0px 0px 1px white;
            text-shadow: 0px -1px 1px rgba(0, 0, 0, 0.5), 0px 1px 0px rgba(255, 255, 255, 0.3); }
            body > header.masthead nav ul.nav > li > a:hover {
              background: -moz-linear-gradient(top, #3e6992 0%, #548cc0);
              background: -webkit-gradient(linear, left top, left bottom, from(#3e6992), to(#548cc0));
              -moz-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.5), inset 0px 3px 4px rgba(0, 0, 0, 0.2);
              -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.5), inset 0px 3px 4px rgba(0, 0, 0, 0.2);
              text-decoration: none; }
      body > header.masthead nav a#governo {
        float: left;
        margin-left: 20px;
        width: 60px;
        margin-right: 20px;
        text-align: center;
        color: #ffffff;
        padding: 7px 15px;
        float: right;
        background: #51a814;
        background: -moz-linear-gradient(top, #82c917 0%, #208712);
        background: -webkit-gradient(linear, left top, left bottom, from(#82c917), to(#208712));
        /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(left, #82c917 0%, #208712 100%);
        /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(left, #82c917 0%, #208712 100%);
        /* Opera 11.10+ */
        background: -ms-linear-gradient(left, #82c917 0%, #208712 100%);
        /* IE10+ */
        background: linear-gradient(left, #82c917 0%, #208712 100%);
        /* W3C */
        filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#82c917', EndColorStr='#208712')";
        /* IE6,IE7 */
        -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#82c917', EndColorStr='#208712')";
        /* IE8 */
        border-radius: 5px;
        -moz-border-radius: 5px;
        -webkit-border-radius: 5px;
        border: 1px solid #208712;
        -moz-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.5), inset 0px 0px 1px white;
        -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.5), inset 0px 0px 1px white;
        text-shadow: 0px -1px 1px rgba(0, 0, 0, 0.5), 0px 1px 0px rgba(255, 255, 255, 0.3);
        width: 10.769em; }
        body > header.masthead nav a#governo:hover {
          background: -moz-linear-gradient(top, #208712 0%, #82c917);
          background: -webkit-gradient(linear, left top, left bottom, from(#208712), to(#82c917));
          -moz-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.5), inset 0px 3px 4px rgba(0, 0, 0, 0.2);
          -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.5), inset 0px 3px 4px rgba(0, 0, 0, 0.2);
          text-decoration: none; }
    body div[role='main']:before, body div[role='main']:after {
      display: table;
      content: ""; }
    body div[role='main']:after {
      clear: both; }
    body div[role='main'] div.type-page, body div[role='main'] div.type-post {
      margin-left: 2em;
      margin-right: 2em; }
      body div[role='main'] div.type-page div.entry-content, body div[role='main'] div.type-post div.entry-content {
        margin-top: 1em; }
      body div[role='main'] section .nav-tabs {
        margin-top: 0;
        margin-bottom: 0; }
        body div[role='main'] section .nav-tabs a {
          margin-top: 0;
          border: 1px solid #DDDDDD;
          border-top-left-radius: 10px;
          border-top-right-radius: 50px 40px;
          padding-right: 20px;
          margin-left: -10px;
          color: #777777;
          text-shadow: none;
          background: -moz-linear-gradient(top, white 0%, white 45%, #ebebeb 50%, #ebebeb);
          background: -webkit-gradient(linear, left top, left bottom, from(white), color-stop(0.45, white), color-stop(0.5, #ebebeb), to(#ebebeb)); }
        body div[role='main'] section .nav-tabs li {
          float: left;
          position: relative;
          z-index: 0; }
        body div[role='main'] section .nav-tabs li:first-child a {
          margin-left: 0; }
        body div[role='main'] section .nav-tabs li.active {
          z-index: 999; }
        body div[role='main'] section .nav-tabs li.active a {
          color: #FFFFFF;
          border: 1px solid #3190d4;
          text-shadow: 0px -1px 1px rgba(0, 0, 0, 0.5), 0px -1px 0px rgba(0, 0, 0, 0.3);
          background: -moz-linear-gradient(top, #95d0f7 0%, #6dafd9 45%, #48a4e6 50%, #48a4e6);
          background: -webkit-gradient(linear, left top, left bottom, from(#95d0f7), color-stop(0.45, #6dafd9), color-stop(0.5, #48a4e6), to(#48a4e6)); }
      body div[role='main'] section h1, body div[role='main'] section p, body div[role='main'] section h2, body div[role='main'] section span {
        margin-left: 12px;
        margin-right: 12px; }
      body div[role='main'] section h2 {
        font-size: 1.077em;
        line-height: 140%; }
        body div[role='main'] section h2 a {
          color: inherit; }
      body div[role='main'] section p {
        font-size: 1em; }
    body div[role='main'] form#search {
      width: 540px; }
    body div[role='main'] #top_tags
    .tags {
      margin-left: 1em; }
      body div[role='main'] #top_tags
      .tags li {
        display: block;
        float: left;
        color: #FFFFFF;
        background-color: #777777;
        padding: 2px 5px;
        margin: 2px 1px; }
        body div[role='main'] #top_tags
        .tags li a {
          color: #FFFFFF;
          text-decoration: none; }
        body div[role='main'] #top_tags
        .tags li:hover {
          background-color: #cca300;
          text-decoration: none;
          color: #FFFFFF; }
    body div[role='main'] form#search {
      margin-bottom: 20px;
      padding: 5px;
      width: 530px;
      background: -moz-linear-gradient(top, #eeeeee 0%, #dddddd);
      background: -webkit-gradient(linear, left top, left bottom, from(#eeeeee), to(#dddddd));
      border-radius: 5px;
      -moz-border-radius: 5px;
      -webkit-border-radius: 5px;
      border: 1px solid #CCCCCC; }
      body div[role='main'] form#search #busca {
        width: 430px;
        margin-left: 0;
        border: 0;
        padding: 0 5px;
        height: 30px;
        font-size: 16px;
        line-height: 30px;
        -moz-box-shadow: inset 1px 3px 4px rgba(0, 0, 0, 0.2);
        -webkit-box-shadow: inset 1px 3px 4px rgba(0, 0, 0, 0.2); }
      body div[role='main'] form#search #btnbusca {
        width: 75px;
        margin-left: 5px;
        height: 30px;
        font-size: 11px;
        font-weight: bold;
        text-transform: uppercase;
        text-shadow: 0px 1px 0 rgba(255, 255, 255, 0.5);
        background-color: #f6f6f6;
        border: 1px solid #CCCCCC;
        color: #777777;
        -moz-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.5);
        -webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.5); }
      body div[role='main'] form#search p {
        color: gray;
        margin-top: -0.3em; }
      body div[role='main'] #new p {
        padding-bottom: 4px;
        border-bottom: 1px solid darkgray; }
      body div[role='main'] #new span.datanoticia {
        float: right;
        color: gray;
        margin-top: 1em; }
    body div[role='main'] #apps {
      background: #ececec;
      border: 1px solid #7d99aa;
      -moz-box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.3);
      -webkit-box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.3);
      margin-top: 20px;
      float: left;
      margin-left: 20px;
      width: 940px;
      height: 13.077em; }
      body div[role='main'] #apps ul {
        overflow: hidden;
        padding: 10px 30px;
        list-style: none;
        margin: 0;
        -moz-border-radius: 5px;
        border-radius: 5px;
        height: 11.538em; }
        body div[role='main'] #apps ul #myCarousel {
          height: 8.615em; }
        body div[role='main'] #apps ul .carousel-inner {
          margin-left: 76px; }
        body div[role='main'] #apps ul li {
          float: left;
          margin-left: 20px;
          width: 220px;
          margin-top: 0px;
          text-align: center; }
          body div[role='main'] #apps ul li h2 {
            font-weight: 700;
            margin-bottom: 5px; }
          body div[role='main'] #apps ul li img {
            width: 107px;
            height: 110px; }
          body div[role='main'] #apps ul li p {
            font-size: 1em;
            line-height: 18px;
            width: 148px;
            float: left;
            margin-left: 5px; }
    body div[role='main'] #top_apps {
      background: none;
      border: 0; }
      body div[role='main'] #top_apps .tab-content {
        background: #ececec url("../img/bg/bg_boxes.png") 0 0 repeat;
        border: 1px solid #DDD;
        -moz-border-bottom-right-radius: 5px;
        -webkit-border-bottom-right-radius: 5px;
        -moz-border-bottom-left-radius: 5px;
        -webkit-border-bottom-left-radius: 5px; }
        body div[role='main'] #top_apps .tab-content a {
          color: inherit;
          font-weight: bold; }

#tab-recentes-org {
  width: 80px;
}

#tab-recentes-data {
  width: 50px;
}

body.index .span9.content-outer {
  width: 100%; }

.faq-link:hover, .faq-link a:hover {
  cursor: help; }

.footer.outer {
  position: absolute;
  left: 0;
  width: 100%;
  min-height: 230px;
  background: url("../img/bg/bg_footer_fill.jpg") 0 0 repeat;
  border-bottom: 1px solid #73aae2;
  color: #FFF; }
  .footer.outer a, .footer.outer h3 {
    color: inherit; }
  .footer.outer .footer.inner {
    width: 100%;
    min-height: 230px;
    background: #034811; /*saint> */
    }
  .footer.outer footer {
    width: 980px;
    max-width: 980px;
    margin: 0 auto;
    padding: 15px 2px 25px;
    *zoom: 1;
    }
    .footer.outer footer:before, .footer.outer footer:after {
      display: table;
      content: ""; }
    .footer.outer footer:after {
      clear: both; }
    .footer.outer footer div {
      float: left;
      margin-left: 20px;
      width: 220px; }
      .footer.outer footer div ul {
        list-style: none;
        margin: 0; }
        .footer.outer footer div ul li:before {
          content: "\25B8 \2003"; }
    .footer.outer footer h3 {
      margin-bottom: 15px; }
    .footer.outer footer #colophon {
      float: left;
      margin-left: 20px;
      width: 940px;
      clear: both;
      margin-top: 2em; }

#acesso-brasil-rodape .logo-acesso {
  float: left;
}

#notes-extract p {
  margin-bottom: 1em; }
#notes-extract ul {
  margin-left: 2em; }

.hidden {
  display: none;
  visibility: hidden; }

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto; }

.invisible {
  visibility: hidden; }

.clearfix:before, .clearfix:after {
  content: "\0020";
  display: block;
  height: 0;
  overflow: hidden; }

.clearfix:after {
  clear: both; }

.clearfix {
  zoom: 1; }

body.no-sidebar .row .content-outer {
  width: 960px; }


/*luiz> */

#menu-lateral {
    float: left;
    width:190px;
    padding-top: 10px;
}

#menu-lateral ul {
    list-style-type:none;
    /*text-align:center;*/
    padding-bottom: 10px;
}
#menu-lateral a,
#menu-lateral a:hover,
#menu-lateral a:active,
#menu-lateral a:visited,
#menu-lateral a:focus
{
    /*text-align:center;*/
    color:#0088CC;
    font-weight: normal;
    font-size: small;
    padding-left: 10px;
}

#content2 {
    float: right;
    width:980px;
}

#menusec {
    font-weight: bold;
    font-size: medium;
    padding-left: 0px;
 
}

#menu-lateral  {
      -moz-border-radius: 5px;
      border-radius: 5px;
      margin-bottom: 30px;
      background: #ececec url("../img/bg/bg_boxes.png") 0 0 repeat;
      border: 1px solid #DDD;
}

#barra-menu {
      clear: both;
      background: black;
      height: 27px;
      position: absolute;
      opacity: 0.3;
      filter: alpha(opacity=30);
      width: 100%;
}

#menu-horizontal {
    float: none;
    max-width:955px;
    margin: 0 auto;
    z-index: 1;
    position: relative;
}

#menu-horizontal a {
    color: #FFFFFF;
    font: Arial,FreeSans,sans-serif;
}

.barra-apoio {
    float: right;
    font-size: 1.2em;
    line-height: 1.25em;
    list-style: none outside none;
    font-family: 'Open Sans',Arial,Helvetica,sans-serif;
    font: 100% Arial,FreeSans,sans-serif;
    padding-top: 4px;
}

.barra-apoio li {
    display: inline;
    padding: 0 8px 0 10px;
    height: 15px;
    border-left: 0.1em solid #FFFFFF;
}

.barra-apoio .first {
    border-left: medium none;
}

#accessibility {
    display: block !important;
    float: left;
    font-size: 0.8em;
    width: 50%;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
    list-style: none outside none;
    color: #FFFFFF;
}

#accessibility li {
    display: inline;
}

#accessibility a,
#accessibility a:hover,
#accessibility a:active,
#accessibility a:visited,
#accessibility a:focus
{
    color: rgb(220, 255, 227);
    font-family: 'Open Sans',Arial,Helvetica,sans-serif;
    font-size: 0.9em;
    text-decoration:none;
}

#accessibility span {
    background: none repeat scroll 0 0 #9ED5AB;
    color: #006600;
    padding: 0 4px;
}

#accessibility a {
    color: #DCFFE3;
    margin-right: 8px;
}

#logo-brasil img {
    float: right;
}

#acesso-brasil-rodape {
    width: 940px;
    padding-top:20px;

}
